 <!-- Research Section -->
    <section class="success" id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Research</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0 text-center">
		    <p style="font-size:25px;">
                As a researcher in Sustainable and Energy-Efficient Aviation (SE²A) Cluster of Excellence,
                I am currently developing algorithms for robust design optimization of airplane wings using
                Scientific Machine Learning and Bayesian Optimization. In particular,
                \<button> I work on efficient
                methods to represent geometric design variations, optimizing their usability for machine
                learning models leading to a significant increase in the generation of realistic designs.
                </button>
            </p>
		    	<ul class="list-inline item-details">
                            <li>
                                <a href="https://scholar.google.com.au/citations?hl=en&user=-PXVF8oAAAAJ&view_op=list_works" target="_blank" class="btn btn-lg btn-outline">
                                <i class="fa fa-file-text-o fa-fw"></i>See Publications
                                </a>
                            </li>
			    <li>
				<a href="img/thesis.pdf" download="Thesis JP"  class="btn btn-lg btn-outline">
                                <i class="fa fa-book fa-fw "></i> Ph.D. Thesis
                                </a>
			    </li>
			    <!-- <li>
				<a href="img/presentation.pdf" download="Thesis Presentation FJC" class="btn btn-lg btn-outline">
                        	<i class="fa fa-file-powerpoint-o fa-fw"></i> Thesis Presentation
                    		</a>
			    </li> -->
                            <li>
			</ul>
                </div>
            </div>
        </div>
    </section>
