 <!-- Research Section -->
    <section class="success" id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Research</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0 text-center">			
		    <p style="font-size:25px;">
My work strives to understand fluid-solid interactions in porous, biological, and particle-based systems through the development of Computational Fluid Mechanics (CFD) and Machine Learning (ML) models. Being able to quantify these multi-physics interactions will help us improve the optimization and design of energy-related, medical, and manufacturing processes. Through my research and its open-source products, I aim to reduce the high barrier of entry related to the implementation, sharing, and proliferation of complex computational models.                      
		    </p>
		    	<ul class="list-inline item-details">                            
                            <li>
                                <a href="https://scholar.google.com/citations?user=HhYUSEYAAAAJ&hl=en#" target="_blank" class="btn btn-lg btn-outline">
                                <i class="fa fa-file-text-o fa-fw"></i>See Publications
                                </a>
                            </li>
			    <li>    
				<a href="img/thesis.pdf" download="Thesis FJC"  class="btn btn-lg btn-outline">
                                <i class="fa fa-book fa-fw "></i> Ph.D. Thesis
                                </a>
			    </li>
			    <li>
				<a href="img/presentation.pdf" download="Thesis Presentation FJC" class="btn btn-lg btn-outline">
                        	<i class="fa fa-file-powerpoint-o fa-fw"></i> Thesis Presentation
                    		</a>
			    </li>
                            <li>
			</ul>
                </div>
            </div>
        </div>
    </section>
