 <!-- About Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0 text-center">
                        <h3>Programming</h3>
                            <p style="font-size:25px;">
                            Python • C++ • Matlab • Bash
                            </p>
                        <h3>Data Analysis</h3>
                                <p style="font-size:25px;">
                                Pandas • NumPy • SQL
                                </p>
                        <h3>Machine Learning</h3>
                                <p style="font-size:25px;">
                                Scikit-Learn • XGBoost • TensorFlow • PyTorch Geometric
                                </p>
                        <h3>Computer Aided Engineering</h3>
                                <p style="font-size:25px;">
                                CFD • FEA • OpenFOAM • Ansys Fluent • PyVista • Paraview
                                </p>
                        <h3>Software Engineering</h3>
                                <p style="font-size:25px;">
                                HPC (Slurm) • AWS • MLflow • CI/CD • Git • VS Code
                                </p>
                        <h3>Languages</h3>
                                <p style="font-size:25px;">
                                English (fluent) • German (conversational) • Hindi (native)
                                </p>
                        <!-- <a href="https://github.com/jigarparekh279" target="_blank" class="btn btn-lg btn-dark">
                        <i class="fa fa-github fa-fw"></i>Access GitHub
                        </a> -->
               </div>
            </div>
        </div>
    </section>
